aside {
    background-color: var(--color-gray-100);

    height: 480px;

    /* centralizar todos os itens do aside ao centro em uma unica coluna */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* colocar os cards um do lado do outro horizontalmente */
aside section{
    display: flex;
    gap: 24px;
}

.card-3 {
    padding: 20px;
}

.card-3 img {
    display: block;
    margin-bottom: 20px;
}